/WPFDeepZoom/.vs
/WPFDeepZoom/WPFDeepZoom/obj
/WPFDeepZoom/WPFDeepZoom/bin
/wpf_tile_map_image/ArcGISMapSample/.vs
/wpf_tile_map_image/ArcGISMapSample/ArcGISMapSample/obj
/wpf_tile_map_image/ArcGISMapSample/ArcGISMapSample/bin
/KFBIO_SlideViewer/KFBIO.SlideViewer/.vs
/KFBIO_SlideViewer/KFBIO.SlideViewer/KFBIO.SlideViewer/obj
/KFBIO_SlideViewer/KFBIO.SlideViewer/KFBIO.SlideViewer/bin
